.leftbar_container {
	position: fixed;
	flex: 0.2;
	top: 0;
	width: 13vw;
	border-right-style: solid;
	border-width: 1px;
	border-color: #606060;
}
.web_logo {
	width: 80px;
	margin: 1.5rem;
	object-fit: contain;
}
